<%- include('start_html') %>
<main class="container text-center">
    <h1><%= title %></h1>
    
</main>
<section class="container">
    <form method="post">
        <div class="form-group">
            <label for="titleInput"><strong>Title</strong></label>
            <input name="postTitle" type="text" class="form-control is-valid" id="titleInput" value="" required>
            <div class="valid-feedback">
                ToDo: add serverside validation
            </div>
        </div>
        <div class="form-group">
            <label for="subtitleInput"><strong>Subtitle</strong></label>
            <textarea name="postSubtitle" class="form-control is-valid" id="subtitleInput" value="" required></textarea>
            <div class="valid-feedback">
                ToDo: add serverside validation
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="authorInput"><strong>Author</strong></label>
                    <input name="postAuthor" type="text" class="form-control is-valid" id="auhtorInput" value="Jean-Maree" required>
                </div>
                <div class="col">
                    <label for="imageInput"><strong>Featured Image</strong></label>
                    <input name="postImage" type="text" class="form-control" id="imageInput" placeholder="www.google.com/images/yourimage">
                    <small >
                        Please insert a url to the web image. Can't yet upload local imagery.
                    </small>
                </div>
            </div>
        </div>
        <textarea id="summernote" name="editordata"></textarea>
        <button class="btn btn-primary align-right">Publish</button>
    </form>
</section>

<!-- My scripts: -->
<script src="/javascripts/summernote.js"></script>
<%- include('end_html') %>