<footer>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3 class="mb-3">Subscribe to the</h3>
                <a class="btn btn-footer">Newsletter</a>
            </div>
            <div class="col text-center">
                <h3 class="mb-3">Want to see more?</h3>
                <a href="/archives" class="btn btn-footer">To the Archives!</a>
            </div>
        </div>
    </div>
</footer>