<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h5><a class="footer-link" href="/misc/privacy">Privacy Policy</a></h5>
            </div>
            <div class="col text-center">
                <h3 class="mb-3">Subscribe to the</h3>
                <a class="btn btn-footer">Newsletter</a>
            </div>
            <div class="col text-center">
                <h3 class="mb-3">Want to see more?</h3>
                <a href="/archives" class="btn btn-footer">To the Archives!</a>
            </div>
            <div class="col text-center">
                <h6>Copyright</h6>
                <h5>Created by EXtreme IT 2020</h5>
            </div>
        </div>
    </div>
</footer>