<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Check out the newsletter:</h3>
                <button class="btn btn-warning">Subscribe here</button>
            </div>
        </div>
    </div>
</footer>