<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="mb-3">Check out the newsletter:</h3>
                <a class="btn btn-warning">Subscribe here</a>
            </div>
            <div class="col">
                <h3 class="mb-3">Want to see more? <br> View the arcives here:</h3>
                <a href="/archives" class="btn btn-warning">To the Archives!</a>
            </div>
        </div>
    </div>
</footer>