<%- include('start_html') %>
<main class="container text-center">
  <div id="heroImage" style="width: inherit; height: 200px;">

  </div>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <ul>
    <li>
      <a href="/view-post/1">This is a completed first post</a>
    </li>
    <li>
      <a href="/view-post/2">This is a completed second post</a>
    </li>
    <li>
      <a href="/view-post/3">This is a completed third post</a>
    </li>
  </ul>

  <p>Create a new post <span><a href="/create-post">Here!</a></span></p>
  
</main>


<%- include('end_html') %>