<%- include('start_html') %>

<main>
    <div class="container mx-auto">
        <h2 class="orange-text">TravelerT Privacy Statement</h2>
        <small><strong>Updated: May 2020</strong></small>
        <hr>
        <h5 class="orange-text"><strong>In short:</strong></h5>
        <p>On registration your information is collected and used for identification purposes only.</p>
        <p><strong class="orange-text">Cookies</strong> are used in by the browser to verify login information (not for marketing purposes).</p>
    </div>
</main>

<!-- Footer -->
<%- include('footer') %>

<%- include('end_html') %>