<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- My styles: -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap: -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Summernote: -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <!-- Jquery: -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <% if(login != -1) { %>
          <div class="form-inline">
            <div class="input-group-prepend mr-4">
              <span>Welcome, <%= login_name %>, <%= user_type %></span>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="logoutBtn"><a href="/">Log out</a></span>
            </div>
          </div>
        <% } else { %>
          <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="loginBtn"><a href="/">Login</a></span>
              </div>
              <input id="emailInput" type="email" class="form-control" placeholder="email@mail.com" aria-label="Email" aria-describedby="loginBtn">
              <input id="passwordInput" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="loginBtn">
              <div class="input-group-append">
                <span class="input-group-text"><strong>OR</strong></span>
                <span class="input-group-text" id="registerBtn"><a href="/register">Register</a></span>
              </div>
            </div>
          </form>
        <% } %>
      </nav>
    </header>