/* Specific for index.ejs */

/* LOGO */
#logo-main {
    width: 50%;
    /* max-width: 500px; */
}

/* Truncate text over mulitple lines: */
/* https://dev.to/temmietope/how-to-truncate-multi-line-string-with-pure-css-4fc9 */
.post-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    /* to specify the number of lines you want the text to run through... */
    -webkit-line-clamp: 3;
    /* hide the overflowing text, i.e, texts that did not fit in to the box */
    overflow: hidden;
}

/* Carousel Arrows: */
i[class*='fa-caret-square'] {
    color: #FC5100;
}

.arrow-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ------RESPONSIVE-------- */
/* RM carousel arrows */
@media screen and (max-width: 991px) {
    i[class*='fa-caret-square'] {
        display: none;
    }
}