/* Specific for index.ejs */

/* LOGO */
#logo-main {
    width: 50%;
    /* max-width: 500px; */
}

/* DISPLAYED POSTS: */
.carousel-wrapper {
    width: 100%;
}

.carousel-container {
    max-width:710px;
    /* width: 100%; */
}

.post-holder {
    display: flex;
    padding: 20px;
}

.post-holder shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-image img{
    max-width: 400px;
    max-height: 300px;
}

.post-image{
    transition: transform 400ms ease-in;
}
.post-image:hover{
    transform: translate(0px, -2%);
    cursor: pointer;
}

.post-div {
    position: relative;
    width: 300px;
    max-height: 300px;
    background: white;
    box-shadow: 10px;
    right: 50px;
}

/* Truncate text over mulitple lines: */
/* https://dev.to/temmietope/how-to-truncate-multi-line-string-with-pure-css-4fc9 */
.post-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    /* to specify the number of lines you want the text to run through... */
    -webkit-line-clamp: 3;
    /* hide the overflowing text, i.e, texts that did not fit in to the box */
    overflow: hidden;
}

/* Carousel Arrows: */
i[class*='fa-caret-square'] {
    color: #FC5100;
}

.arrow-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* RESPONSIVE */
@media screen and (max-width: 991px) {
    i[class*='fa-caret-square'] {
        display: none;
    }
}