/* ---------- GENREAL PROPERTIES ---------- */
/* Be Vietnam font: */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;800&display=swap');

:root {
  --cg-blue: #2978A0;
  --message-green: rgba(21, 255, 0, 0.171);
}

html {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100%;
  position: relative;
}

body {
  font: 14px 'Be Vietnam', sans-serif, Helvetica, Arial !important;
}

a {
  color: #00B7FF;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.align-right {
  float: right;
  clear: both;
}

/* ---------- SPECIFIC PROPS ---------- */

/* HEADER AND NAV */
header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.login-btn {
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* Message box for displaying warnings or errors to the user: */
.message-box{
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
  background-color: var(--message-green);
}

/* https://www.steckinsights.com/shorten-length-border-bottom-pure-css/ */
.login-btn::after {
  content: ""; /* Needed for pseudo element to work */
  display: block; /* Puts pseudo element on its own line */
  /* margin: 0 auto; */
  width: 0px; /* Here lies the whole shibang. Starting with a 0 width we increase to to full on hover. */
  border-bottom: 3px solid;  
  transition: width 0.4s ease-in-out;
}
.login-btn:hover::after {
  content: "";
  display: block;
  width: 100%;
}

.text-warning {
  font-size: 12px;
}

/* MAIN */
main {
  margin-top: 22px;
  padding-bottom: 250px; /* Needs to be same as footer height */
}


/* FOOTER: */
/* How to keep the footer down on small pages: https://matthewjamestaylor.com/bottom-footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--cg-blue);
  height: 250px;
  padding-top: 30px;
}