/* ---------- GENREAL PROPERTIES ---------- */
/* Be Vietnam font: */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;800&display=swap');

html, body {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  font: 14px 'Be Vietnam', sans-serif, Helvetica, Arial !important;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ---------- SPECIFIC PROPS ---------- */

/* MAIN */
main {
  margin-top: 22px;
}