/* ---------- GENREAL PROPERTIES ---------- */
/* Be Vietnam font: */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;800&display=swap');

:root {
  --cg-blue: #2978A0;
  --amber: #ffc107;
  --logo-orange: #FC5100;
  --logo-orange-dark: #d14504;
  --message-green: rgba(21, 255, 0, 0.171);
}

html {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100%;
  position: relative;
}

body {
  font: 14px 'Be Vietnam', sans-serif, Helvetica, Arial !important;
}

/* Text: */
.orange-text {
  color: var(--logo-orange);
}

/* color */
.dark-orange {
  background-color: var(--logo-orange-dark);
}

/* Links */
a.login-btn {
  color: inherit;
}

a.login-btn:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.orange-link {
  color: var(--logo-orange);
}

.orange-link:hover {
  color: var(--logo-orange-dark);
  text-decoration: none;
}

/* Lists */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.align-right {
  float: right;
  clear: both;
}

/* Buttons: */
.btn {
  min-width: 150px;
}

.btn-orange {
  color: black;
  background-color: var(--logo-orange) !important;
  border: 2px solid var(--logo-orange-dark) !important;
}

.btn-orange:hover {
  background-color: var(--logo-orange-dark) !important;
}

/* ------------ MODAL (popout) IMAGE -------------- */

/* image used: */
#projectImg {
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  transition: 0.3s;
}

#projectImg:hover {
  opacity: 0.7;
}

/* The black background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; /* location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Image */
.modal-content {
  margin: auto;
  display: block;
  max-width: 700px;
  width: 80%;
  max-height: 90%;
}

.modal-image-caption {
  margin: auto;
  display: block;
  max-width: 700px;
  width: 80%;
  text-align: center;
  color: var(--logo-orange);
  padding: 10px 0;
  height: 150px;
}

/* Animation: */
.modal-content, 
.modal-image-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0);}
  to {-webkit-transform: scale(1);}
}

@keyframes zoom {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

/* Close button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--logo-orange);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover, 
.modal-close:focus {
  color: var(--logo-orange-dark);
  text-decoration: none;
  cursor: pointer;
}

/* ---------- SPECIFIC PROPS ---------- */

/* HEADER AND NAV */
header {
  position: sticky;
  top: 0;
  z-index: 2;
}

#home-img {
  width: 62px;
  height: 44px;
}

.login-btn {
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}


/* https://www.steckinsights.com/shorten-length-border-bottom-pure-css/ */
.login-btn::after {
  content: ""; /* Needed for pseudo element to work */
  display: block; /* Puts pseudo element on its own line */
  /* margin: 0 auto; */
  width: 0px; /* Here lies the whole shibang. Starting with a 0 width we increase to to full on hover. */
  border-bottom: 3px solid;  
  transition: width 0.4s ease-in-out;
}
.login-btn:hover::after {
  content: "";
  display: block;
  width: 100%;
}

.text-warning {
  font-size: 12px;
}

/* A greyed out box with a yellow outline */
.yellow-box {
  border-radius: 10px;
  border: 2px solid var(--amber);
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

/* Message box for displaying warnings or errors to the user: */
.message-box{
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0px;
  background-color: var(--message-green);
}

/* MAIN */
main {
  margin-top: 22px;
  padding-bottom: 290px; /* Needs to be same as footer height */
}


/* FOOTER: */
/* How to keep the footer down on small pages: https://matthewjamestaylor.com/bottom-footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--logo-orange);
  min-height: 180px;
  padding-top: 30px;
}

.btn-footer {
  color: #fff !important;
  background-color: black !important;
  border-color: black !important;
}

.btn-footer:hover {
  color: black !important;
  background-color: whitesmoke !important;
  border-color: black !important;
}

.footer-link {
  color: black;
}

.footer-link:hover {
  color: whitesmoke;
  text-decoration: none;
}


/* -----------RESPONSIVE-------- */

@media screen and (max-width: 770px) {
  
}